<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="utf-16" />
        <title>Psychass Assessment</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/themes/base/css")
        @Styles.Render("~/Content/css")
           <!--[if lt IE 9]>
          @Scripts.Render("~/bundles/ie8specific")
        <![endif]-->
    </head>
<body id="top">
    <div id="wrap" class="wrap">
        
        <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="navigation-bar">
            
            <div class="container-fluid navbar-inner">       
                @if (Request.IsAuthenticated)
                {
                    var companyId = @A4EPARC.Services.AuthenticationService.GetCompanyId();
                    <input id="CompanyId" value="@companyId" type="hidden"/>

                    if (companyId == 10)
                    {
                        <a class="navbar-brand navbar-right" href="/">Exemplar Survey Home</a>
                    }
                    else
                    {
                        <a class="navbar-brand navbar-right" href="/">Psychass Survey Home</a>
                    }

                    <div class="navbar-header">
                        <button id="toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                      <form class="collapse navbar-collapse navbar-form navbar-left">
                         <a title="Home" href="/"><img style="max-height: 80px; cursor: pointer;" src="~/Content/images/esherhouse.png" alt=""></a>
                    </form>
                    <div class="collapse navbar-collapse navbar-right">
                        @Html.Partial("_NavigationLinks")
                        @if (@A4EPARC.Services.AuthenticationService.ShowLanguages(companyId))
                        {
                            @Html.Partial("_LanguageSelect")
                        }
                    </div>
                }
                else
                {
                    <form class="collapse navbar-collapse navbar-form navbar-left">
                        <a title="Home" href="/"><img style="max-height: 80px; cursor: pointer;" src="~/Content/images/esherhouse.png" alt=""></a>
                    </form>
                }
            </div>
        </div>  

        <div id="mask"></div>
        <br/>
        <div id="page" class="container-fluid page" style="padding-top: 50px;">
            @RenderBody()
        </div>
    </div>


    <footer>
        <div id="footer" class="container-fluid footer">
            <div class="row">
                <div class="col-xs-3">
                    <p>&copy; @DateTime.UtcNow.Year Powered by Esher House Pty Ltd</p>
                </div>
                <div class="col-xs-6">
                    <p>All personal information collected on this website is protected by the Privacy Act 1988 (the Privacy Act). You can click <a style="color:white;font-weight:bold" target="_blank" href="~/Images/Pdfs/PrivacyStatement.pdf">here</a>for more details.</p>
                </div>
                <div class="col-xs-offset-2 col-xs-1 pull-right text-right">
                    <a href="#top" title="Top"><i class="fa fa-chevron-up fa-lg"></i></a>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jtable")
    @Scripts.Render("~/bundles/ui")

    <!--[if lt IE 9]>
        @Scripts.Render("~/bundles/ie8specific")
    <![endif]-->

    @RenderSection("scripts", required: false)

</body>
</html>
