<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="utf-16" />
        <title>GLS Assessment</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/themes/base/css")
        @Styles.Render("~/Content/css_gls")
           <!--[if lt IE 9]>
          @Scripts.Render("~/bundles/ie8specific")
        <![endif]-->
    </head>
<body id="top">
    <div id="wrap" class="wrap">
        
        <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="navigation-bar">
            
            <div class="container-fluid navbar-inner">
                    <a class="navbar-brand navbar-right" href="/">GLS Survey Home</a>
       
                @if (Request.IsAuthenticated)
                {
                    <input id="CompanyId" value="9" type="hidden"/>
                    <div class="navbar-header">
                        <button id="toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                      <form class="collapse navbar-collapse navbar-form navbar-left">
                        <a title="Home" href="/" class="btn btn-primary btn-sm navbar-btn"><i class="icon icon-home"></i></a>
                    </form>
                    <div class="collapse navbar-collapse navbar-right">
                        @Html.Partial("_NavigationLinks")
                    </div>
                }
            </div>
        </div>  

        <div id="mask"></div>
        <br/>
        <div id="page" class="container-fluid page" style="padding-top: 10px;">
            @RenderBody()
        </div>
    </div>

    <footer>
        <div id="footer" class="container-fluid footer">
            <div class="row">
                <div class="col-xs-11">
                    <p>&copy; @DateTime.UtcNow.Year Powered by Esher House Pty Ltd Pro-Change Behavior Inc</p>
                </div>
                <div class="col-xs-1 pull-right text-right">
                    <a href="#top" title="Top"><i class="fa fa-chevron-up fa-lg"></i></a>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jtable")
    @Scripts.Render("~/bundles/ui")
    
    <!--[if lt IE 9]>
        @Scripts.Render("~/bundles/ie8specific")
    <![endif]-->

    @RenderSection("scripts", required: false)

</body>
</html>
