<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="utf-16" />
        <title>Incite Assessment</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/themes/base/css")
        @Styles.Render("~/Content/css_incite")
           <!--[if lt IE 9]>
          @Scripts.Render("~/bundles/ie8specific")
        <![endif]-->
    </head>
<body id="top">
    <div id="wrap" class="wrap">
        
        <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="navigation-bar">
            
            <div class="container-fluid navbar-inner">                      
            <form class="collapse navbar-collapse navbar-form navbar-left row">
                @if (Request.IsAuthenticated)
                {
                    <div class="hidden-xs hidden-sm hidden-md">
                        <a title="Home" href="/Home"><img style="max-height: 100px;padding-right:2em;" src="~/Content/images/incite_rethinking.png" alt="" /></a>
                    </div>
                    <div class="hidden-lg">
                        <a title="Home" href="/Home"><img style="max-height: 100px;max-width: 350px;padding-right:2em;" src="~/Content/images/incite_rethinking.png" alt="" /></a>
                    </div>

                }
                else
                {
                    <div class="hidden-xs hidden-sm hidden-md">
                        <a title="Home" href="/incite"><img style="max-height: 100px;padding-right:2em;" src="~/Content/images/incite_rethinking.png" alt="" /></a>
                    </div>
                    <div class="hidden-lg">
                        <a title="Home" href="/incite"><img style="max-height: 100px;max-width: 350px;padding-right:2em;" src="~/Content/images/incite_rethinking.png" alt="" /></a>
                    </div>

                }
            </form>
            </div>
        </div>  

        <div id="mask"></div>
        <br/>
        <div id="page" class="container-fluid page" style="padding-top: 50px;">
            @RenderBody()
        </div>
    </div>


    <footer>
        <div id="footer" class="container-fluid footer">
            <div class="row">
                <div class="col-xs-3">
                    <p>&copy; @DateTime.UtcNow.Year Powered by Esher House Pty Ltd</p>
                </div>
                <div class="col-xs-6">
                    <p>All personal information collected on this website is protected by the Privacy Act 1988 (the Privacy Act). You can click <a style="color:white;font-weight:bold" target="_blank" href="~/Images/Pdfs/PrivacyStatement.pdf">here</a>for more details.</p>
                </div>
                <div class="col-xs-offset-2 col-xs-1 pull-right text-right">
                    <a href="#top" title="Top"><i class="fa fa-chevron-up fa-lg"></i></a>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jtable")
    @Scripts.Render("~/bundles/ui")
    
    <!--[if lt IE 9]>
        @Scripts.Render("~/bundles/ie8specific")
    <![endif]-->

    @RenderSection("scripts", required: false)

</body>
</html>
