@using MvcContrib.UI.Pager
@using MvcContrib.UI.Grid;
@model A4EPARC.ViewModels.ClientResultListViewModel

@{
    ViewBag.Title = "Results";
}
@section scripts
{
    <script type="text/javascript">
        $('.input-group.date').datepicker({
            format: 'mm-dd-yyyy'
        });
    </script>
}

<div class="container" id="results">
        
    <h2 class="divider">Client Results</h2>

       <form action="" id="filterForm" method="get">
        </form>
        <form class="form-horizontal" role="form">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-3">
                    @Html.Label("Date From")
                      <div class="input-group date" data-date-autoclose="true" data-date-format="mm-dd-yyyy">                        
                        <input type="text" name="datefrominput"  id="datefrominput"  class="form-control " value="@Model.DateFrom"/>
                        <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                @Html.Label("Date To  ")
                    <div class="input-group date" data-date-autoclose="true" data-date-format="mm-dd-yyyy">                        
                        <input type="text" name="datetoinput"  id="datetoinput"  class="form-control " value="@Model.DateTo"/>
                        <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    @Html.Label("Case ID")
                    <input type="text" name="caseidinput"  id="caseidinput"  class="form-control col-xs-3" value="@Model.CaseID"/>
                </div>
            </div>
        </form>
    <br/>
        <input class="btn btn-primary" type="button" id="filterLink" name="filterLink" value="Search" />
    &nbsp;&nbsp;
        <input class="btn btn-secondary" type="button" id="print" name="print" value="Print" />
    
         <br/>
      <div class="row">
            <br/>
@if (Model.Results.Any())
{
	@Html.Grid(Model.Results).AutoGenerateColumns().Columns(column =>
{
    column.For(a => "<a href='" + @Url.Action("Details", "Results", new { Area="", id = a.Id }) + "' class='icon icon-edit' title='Display'></a>").Encode(false).Sortable(false);
    if (Context.User.IsInRole("IsSuperAdmin"))
    {
     //   column.For(a => "<a href='" + @Url.Action("Delete", "Results", new { a.Id }) + "' class='icon icon-delete' title='Delete'></a>").Encode(false).Sortable(false);
    }
}).Sort(Model.GridSortOptions).Attributes(@width => "100%", @class => "table table-striped table-bordered table-hover")

	 @Html.Raw(Html.Pager(Model.Results).First("First").Last("Last").Next("Next").Previous("Previous").QueryParam("page").ToString())
}
        
      </div>

 </div>