@model A4EPARC.ViewModels.ClientViewModel
@{
    Layout = "~/Views/Shared/_PdfLayout.cshtml";

}
<div style="padding-bottom:11em;">
    <h1 class="col-xs-4" style="color:darkblue" id="@Model.ActionTypeName + Name">@Model.SiteLabels.FirstOrDefault(l => l.Name == Model.ActionTypeName + "Name").Description</h1>
    <h3 class="col-xs-8" style="color:red" id="@Model.ActionTypeName + Summary">@Model.SiteLabels.FirstOrDefault(l => l.Name == Model.ActionTypeName + "Summary").Description</h3>
</div>
<div>
    <div>
        <div style="border-style:solid; border-width:2px;padding:1em;background-color:white;">
            <h4 id="MotivatatingStatementTitle">@Model.SiteLabels.FirstOrDefault(l => l.Name == "MotivatingStatementTitle").Description</h4>
            <h4 id="@Model.ActionTypeName + Statement">@Model.SiteLabels.FirstOrDefault(l => l.Name == Model.ActionTypeName + "Description").Description</h4>
        </div>
    </div>

    <div style="padding:1em;">
        <h4>@Model.SiteLabels.FirstOrDefault(l => l.Name == "BodyTitle").Description</h4>
        <ul>
            @foreach (var item in Model.SiteLabels.Where(l => l.Name == Model.ActionTypeName + "BulletPoint"))
            {
                <li class="h4">@item.Description</li>
            }
        </ul>
    </div>

    @Html.Partial("_InterventionGuide", Model)

</div>