@model A4EPARC.ViewModels.PagedViewModel<A4EPARC.ViewModels.WebServiceResultsViewModel>
@using MvcContrib.UI.Pager
@using MvcContrib.UI.Grid;

 <div class="container" id="wsresults">

    <h2 class="divider">WebService Results</h2>

        <form action="" id="wsfilterForm" method="get">

        </form>
        <form class="form-horizontal" role="form">
            <div class="row">
                <div class="col-xs-4">
                    @Html.Label("Date From (required)")
                    <input id="datefrominput" name="datefrom" class="form-control datepicker" placeholder="MM/DD/YYYY" />
                </div>
                <div class="col-xs-4">
                    @Html.Label("Date To (optional)")
                    <input id="datetoinput" name="dateto" class="form-control datepicker" placeholder="MM/DD/YYYY" />
                </div>
                <div class="col-xs-4">
                    @Html.Label("Job Seeker ID (optional)")
                    <input id="jobseekeridinput" name="jobseekerid" class="form-control" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-4">
                    @Html.Label("Environment (optional)")
                    <select id="environmentinput" name="environment" class="form-control">
                        <option>BOTH</option>
                        <option>LIVE</option>
                        <option>TEST</option>
                    </select>
                </div>
                <div class="col-xs-4">
                    @Html.Label("Company (optional)")
                    @Html.DropDownListFor(m => m.Company, new SelectList(Model.Companies), "Please Select", new { @class = "form-control", @id = "companyinput" , @name="company" })
                </div>
            </div>
        </form>
        <br />
            <input class="btn btn-secondary" type="button" value="Reset" onclick="window.location = '';" />
            <button class="btn btn-primary" title="Search"  id="wssearch" name="wssearch" value="Search">Search <span class="glyphicon glyphicon-search"></span></button>
            <button class="btn btn-primary" title="Excel"  id="wsexport" name="wsexport" value="Excel">Excel <span class="glyphicon glyphicon-download-alt"></span></button>
        <br />
  
    <br />
    <div class="row">



        @if (Model.Query.Any())
        {
            @Html.Grid(Model.PagedList).AutoGenerateColumns().Columns(column =>
{
    column.For(a => "<a href='" + @Url.Action("Index", "Home", new { reportId = a.Id }) + "' class='icon icon-edit' title='Display'></a>").Encode(false);
    column.For(a => "<a href='" + @Url.Action("Index", "Home", new { id = a.Id }) + "' class='icon icon-print' title='Print'></a>").Encode(false);
    column.For(a => "<a href='" + @Url.Action("Index", "Home", new { reportId = a.Id }) + "' class='icon icon-delete' title='Delete'></a>").Encode(false);
}).Sort(Model.GridSortOptions).Attributes(@width => "100%", @class => "table table-striped table-bordered table-hover")

            <br />

            @Html.Raw(Html.Pager(Model.PagedList).First("First").Last("Last").Next("Next").Previous("Previous").QueryParam("page").ToString())
        }

    </div>

</div>