@model A4EPARC.ViewModels.ClientViewModel

<div class="container">

    <h2 class="text-center no-print">Result Details</h2>
            
        <div class="form-group">
            @Html.LabelFor(m => m.CaseWorkerName, new { @class = "col-sm-6 control-label" })
            <div class="col-md-6">
                @Html.DisplayFor(m => m.CaseWorkerName, new { @class = "form-control" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(m => m.CaseWorkerId, new { @class = "col-sm-6 control-label" })
            <div class="col-md-6">
                @Html.DisplayFor(m => m.CaseWorkerId, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Surname, new { @class = "col-md-6 control-label" })
            <div class="col-md-6">
                @Html.DisplayFor(m => m.Surname, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.CaseId, new { @class = "col-md-6 control-label" })
            <div class="col-md-6">
                @Html.DisplayFor(m => m.CaseId, new { @class = "form-control" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(m => m.Gender, new { @class = "col-md-6 control-label" })
            <div class="col-md-1"  style="margin-bottom: 10px">
                @Html.DisplayFor(m => m.Gender, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.DateOfBirth, new { @class = "col-md-6 control-label" })
            <div class="col-md-6" style="margin-bottom: 10px">
                @Html.DisplayFor(m => m.DateOfBirth, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Comments, new { @class = "col-md-6 control-label" })
            <div class="col-md-6" style="margin-bottom: 10px">
                @Html.DisplayFor(m => m.Comments, new { @class = "form-control" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(m => m.LengthOfUnemployment, new { @class = "col-md-6 control-label" })
            <div class="col-md-6" style="margin-bottom: 10px">
                @Html.DisplayFor(m => m.LengthOfUnemployment, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.PreContemplationPoints, new { @class = "col-md-6 control-label" })
            <div class="col-md-6" style="margin-bottom: 10px">
                @Html.DisplayFor(m => m.PreContemplationPoints, new { @class = "form-control" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(m => m.ContemplationPoints, new { @class = "col-md-6 control-label" })
            <div class="col-md-6" style="margin-bottom: 10px">
                @Html.DisplayFor(m => m.ContemplationPoints, new { @class = "form-control" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(m => m.ActionPoints, new { @class = "col-md-6 control-label" })
            <div class="col-md-6" style="margin-bottom: 10px">
                @Html.DisplayFor(m => m.ActionPoints, new { @class = "form-control" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(m => m.MatrixPreContemplationPoints, new { @class = "col-md-6 control-label" })
            <div class="col-md-6" style="margin-bottom: 10px">
                @Html.DisplayFor(m => m.MatrixPreContemplationPoints, new { @class = "form-control" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(m => m.MatrixContemplationPoints, new { @class = "col-md-6 control-label" })
            <div class="col-md-6" style="margin-bottom: 10px">
                @Html.DisplayFor(m => m.MatrixContemplationPoints, new { @class = "form-control" })
            </div>
        </div>
        
         <div class="form-group">
            @Html.LabelFor(m => m.MatrixActionPoints, new { @class = "col-md-6 control-label" })
            <div class="col-md-6" style="margin-bottom: 10px">
                @Html.DisplayFor(m => m.MatrixActionPoints, new { @class = "form-control" })
            </div>
        </div> 
 
        <div class="container printsmall">
                    <div>
                <h2 class="text-center">@Model.ActionTypeName</h2>
                <div class="row form-group">
                    <div class="col-md-12">
                        <h2>@Model.ActionTypeDescription</h2>
                    </div>
                </div>
            </div> 

        <div id="chartdiv" class="container row center-block form-group" style="height: 400px; width: 500px;"></div>
     
        <div class="row text-center">
            <strong>@Model.ActionTypeSummary</strong>
        </div>

    </div>
</div>
<div class="no-print">
<br />
<br />
</div>
<div class="container no-print text-center">
    <a href="#" onclick=" window.print(); return false; " class="btn btn-primary">Print Page</a>
    <br />
    <br />
</div>

<script src="~/Scripts/jquery-1.9.1.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-migrate-1.2.1.js"></script>
<script src="~/Scripts/jquery.jqplot.min.js"></script>
<script src="~/Scripts/jqplot.canvasTextRenderer.min.js"></script>
<script src="~/Scripts/jqplot.canvasAxisLabelRenderer.min.js"></script>
<link href="~/Content/themes/base/jquery.jqplot.css" rel="stylesheet" />

<script type="text/javascript">

    $.jqplot('chartdiv', [[@Model.MatrixPreContemplationPoints, @Model.MatrixContemplationPoints, @Model.MatrixActionPoints]], {
        axesDefaults: {
            labelRenderer: $.jqplot.CanvasAxisLabelRenderer
        },
        axes: {
            xaxis: {
                label: "Precontemplation      Contemplation           Action",
                labelOptions: {
                    fontFamily: 'Segoe UI, Verdana, Helvetica, Sans-Serif',
                    fontSize: '13pt',
                    textColor: 'black',
                    fontWeight: 'normal'
                },
                pad: 1.5
            },
            yaxis: {
                label: ""
            }
        },
    }).replot({ resetAxes: true });
    
</script>
