@model A4EPARC.ViewModels.ClientViewModel

@using (Html.BeginForm("GlsOne", "Survey", FormMethod.Post, new { @class = "form-horizontal", id = "glsSurvey", role = "form" }))
{   
      
    <div class="container" id="pageoneform">
        
        <h2>This 3 minute assessment helps to ensure that your "Study Coach" provides you with the support you will need to successfully complete the course. Please answer the questions quickly and honestly.</h2>
        <input type="hidden" id="SchemeId" value=@Model.SchemeId />
        <br />
      
        <div class="form-group" id="FirstNameGroup">
            <label class="col-md-4 control-label">First Name</label>
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @maxlength = "50", @id = "FirstName", @required = "true" })
                <div style="color: red">@Html.ValidationMessageFor(m => m.FirstName)</div>
      </div>
        </div>

        <div class="form-group" id="SurnameGroup">
            <label class="col-md-4 control-label">Surname</label>
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Surname, new { @class = "form-control", @maxlength = "50", @id = "Surname", @required = "true" })
                <div style="color: red">@Html.ValidationMessageFor(m => m.Surname)</div>
            </div>
        </div>
        <div class="form-group" id="EnrolmentIDGroup">
            <label class="col-md-4 control-label">Enrolment ID</label>
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.EnrolmentID, new { @class = "form-control", @maxlength = "50", @id = "EnrolmentID" })
            </div>
        </div>

        <div class="form-group" id="DateOfBirthGroup">
            <label class="col-xs-12 col-md-4 control-label">Date of Birth</label>
            <div class="col-xs-4 col-md-2">
                @Html.DropDownListFor(m => m.DateOfBirthMonth, new SelectList(Model.MonthDropdownList, "key", "value"), "Month", new { @class = "form-control" })
            </div>
            <div class="col-xs-4 col-md-2">
                @Html.DropDownListFor(m => m.DateOfBirthDay, new SelectList(Model.DayDropdownList), "Day", new { @class = "form-control" })
            </div>
            <div class="col-xs-4 col-md-2">
                @Html.DropDownListFor(m => m.DateOfBirthYear, new SelectList(Model.YearDropdownList), "Year", new { @class = "form-control" })
            </div>
            <div>@Html.ValidationMessage("InvalidDate", new { @style = "color:red;" })</div>
        </div>
        
        @if(Model.StateDropdownList.Any())
        {
            <div class="form-group" id="StateGroup">
                @Html.LabelFor(m => m.State, new { @class = "col-md-4 control-label" })
                <div class="col-md-6" style="margin-bottom: 10px">
                    @Html.DropDownListFor(m => m.State, new SelectList(Model.StateDropdownList), "Please Select", new { @class = "form-control", @id = "State", @required="true" })
                    @Html.ValidationMessageFor(m => m.State)
                </div>
            </div>
        }
        @if (Model.RTODropdownList.Any())
        {
            <div class="form-group" id="RTOGroup">
                @Html.LabelFor(m => m.RTO, new { @class = "col-md-4 control-label" })
                <div class="col-md-6" style="margin-bottom: 10px">
                    @Html.DropDownListFor(m => m.RTO, new SelectList(Model.RTODropdownList), "Please Select", new { @class = "form-control", @id = "RTO", @required = "true" })
                    @Html.ValidationMessageFor(m => m.RTO)
                </div>
            </div>
        }
        <br />
        @Html.Partial("_QuestionsGrid", @Model)
        
    </div>
    
    <br/>

    <div class="form-group">
        <div class="col-md-6 col-md-offset-6">
            <input type="submit" value="Next" class="btn btn-primary" id="Next" />
        </div>
    </div>
    <br/>
    <br/>

}